<!DOCTYPE>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <script src="./../js/jquery.min.js" ></script>
    <script src="./../js/bootstrap.min.js" ></script>
    <link href="./../css/bootstrap.css" rel="stylesheet"/>
    <link href="./../css/jy/index.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="col-xs-12 col-md-6 col-lg-3 bgkcontainer" id="bgkcontainer">
      <div class="part-head">
        <div class="part-head-logo">
          <img class="slogon-logo" src="./../img/jiyu.png"/>
          <img class="img-logo" src="./../img/jiyu-logo.png"/>
        </div>
      </div>
      <div class="part-main">
        <img class="img-jydk" src="./../img/dakahome/jiyu-daka.png"/><br>
        <img class="img-slogon" src="./../img/dakahome/slogan.png"/><br>
        <img class="img-logo-large" src="./../img/dakahome/jiyu-logo-animate.png"/>
      </div>
    </div>
    <script src="./../js/jweixin-1.0.0.js"></script>
    <script src="./../js/index.js"></script>
  </body>
</html>
